<epy-button epyclass="btn btn-default" (clickButton)="test($event)">
  Primary button
</epy-button>

<epy-button
  epyclass="btn btn-primary btn-outline"
  (clickButton)="test2($event)"
>
  Primary button
</epy-button>

<epy-button epyclass="btn btn-primary">
  Primary button
</epy-button>

<epy-button epyclass="btn btn-primary">
  Primary button
  <i class="epy-icon-edit right"></i>
</epy-button>

<epy-button epyclass="btn btn-primary">
  <i class="epy-icon-edit left"></i> Primary button
</epy-button>

<epy-button epyclass="btn btn-primary">
  <i class="epy-icon-edit left"></i>
  Primary button
  <i class="epy-icon-edit right"></i>
</epy-button>

<epy-button epyclass="btn btn-link">
  Link button
  <i class="epy-icon-edit right"></i>
</epy-button>

<epy-button epyclass="btn btn-square-small">
  <i class="epy-icon-edit"></i>
</epy-button>

<epy-button epyclass="btn btn-square btn-default">
  <i class="epy-icon-edit"></i>
</epy-button>

<epy-button epyclass="btn btn-square btn-primary">
  <i class="epy-icon-edit"></i>
</epy-button>

<epy-button epyclass="btn btn-rectangle btn-default">
  <i class="epy-icon-edit"></i>
</epy-button>
<!-- <button class="btn btn-primary">Click</button> -->
